<div class="container">
  <div class='row'>
    <div class='col-md-8'>
      <section class='items'>
        <table>
          <thead>
            <tr>
              <th>Qty</th>
              <th>Book title</th>
              <th>Author</th>
              <th>Price</th>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
            <% @lineitems.each do |lineitem| %>
            <tr>
              <td><%= lineitem.item.title %></td>
              <td><%= lineitem.item.desc %></td>
              <td><%= lineitem.item.price %></td>
              <td><%= lineitem.item.inv_qty %>
            </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    <section>
  </div>
</div>
